header {
    background: white;
    position: relative;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

header #api_status {
    position: absolute;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    right: 30px;
    top: 15px;
    background-color: #cccccc;
}

header #api_status.available {
    background-color: #ff545f;
}
